/* Basic selector - element/tag, grouping, nested, universal, id, class, attribute, Pseudo element (::), Pseudo class (:) */

:root {
  --primary-color: hsl(125, 91%, 35%);
  --secondary-color: #eceaea;
  --background-color: #f1f1f3;
  --card-background-color: #fff;
}

body {
  background-color: var(--primary-color);
  font-family: Roboto, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #ffffff;
}

/* ইনপুট ফিল্ডের স্টাইল */
input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

/* কার্ড ডিজাইন */
.cord {
  background-color: var(--card-background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
  padding: 30px;
  background-color: var(--background-color);
}

/* Header starts here */
header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 1.5rem 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  padding: 0 0.8rem;
}

nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Header ends here */

/* Intro section */
.intro {
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--secondary-color);
}

/* Main starts here */
main {}

/* Main ends here */

/* টেবিল ডিজাইন */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Footer starts here */
footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

/* Footer ends here */
