* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.menu .logo a{
    text-decoration: none;
    color: #020202;
    font-size: 35px;
    font-weight: 600;
}
.menu ul{
    display: inline-flex;

}
.menu ul li{
    list-style: none;
    margin-left: px;
}
.menu ul li a{
    text-decoration: none;
    color: #15ce1e;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 8px;
    transition: all 0.3s  ease;
    height: 55px;
    width: 170px;  
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid #21f53d;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none; 
    transition: all 0.3s ease;
    background-color: #0025f5;
    
}
.menu ul li a:hover {
    background: hsl(0, 0%, 5%);
    color: #ffed4a;
}

.img{  background: url(llc.jpeg) no-repeat ;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.img::before{
    content: '';
    position: absolute;
    height: 100%;
    background:rgb(0, 0, 0, 0.4);
}    
.center{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    transform: translate(-50% , -50%);
    
    padding: 0 20px;
    text-align: center;
}
.center .title{
    color: #ffffff;
    font-size: 55px;
    font-weight: 600;
}
.center .sub_title{
    color: #03ffea;
    font-size: 52px;
    font-weight: 600;
    

}
.center .btns{
    margin-top: 20px;
}
button {
    height: 55px;
    width: 170px;  
    border-radius: 5px;
    border: none; /* Corrected the error here */
    margin: 0 10px;
    border: 2px solid #030503;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none; 
    transition: all 0.3s ease;
}

button:first-child{
    color: #0e0e0e;  
    background: none;
}
button:first-child:hover{
    background: #080707;
    color: #08e208;

}

nav .logo a {
    color: rgb(24, 24, 209);
    font-size: 24px;
    text-decoration: none #f73434;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: hwb(0 100% 0%);
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:hover {
    color: #1e83e9; 
}
.img img{
    width: 100%;
    height: 100;
}