* {
  background-color: #d5d2ff;
  margin: 0;
  padding: 0; /* Dodałem wartość dla padding */
}

#mrm h1 {
  background-color: #4edef1;
  width: 350px;
  padding: 70px;
  border: 5px solid black; 
}
#mrm h1{
  width: 200px;
}
#nrn h1{
  background-color: #fd7878;
  width:150px;
 padding: 20px 40px;
 margin: 10px;
 margin-left: 230px; 
 margin-top: 50px;
}


.Md{
  color: rgb(226, 58, 7);
  background-color: #251d1d;
  width: 40px;
  margin-left: 55px;
}
#section1 h2{
  background-color: #716fc5;
  width: 140px;
  margin-top: 50px;
  margin-left: 270px;
}
#section2 h2{
   margin-left: 50%;
  background-color: #fa5eb9;
  width: 80px;
}


.container{
  background-color: #56d5f5;
  background-color: #b2f3fc;
  width: 250px;
}
.NT:hover {
  color: #5820f3;
  background: #14fa61;
}

.spe h1{
  background-color: red;
  width: 140px;
}  



#nav{
   width: 500px;
   height: 80px;
   background-color: #639e63;
   margin: 0 auto;
}
#nav ul{

}
#nav ul li{
  list-style-type: none;
  margin: 20px;
  float: left;
}
#nav ul li a{
   text-decoration: none;
   font-size: 25px;
   color: white;
   cursor: help;

}
#nav ul li a:hover{

  text-decoration:underline ;

}



.box1{
  background-color: #f73333;
  width: 50%;
  height: 300px;
  opacity: 0.4;
  float:left;

}
.box1:hover{
    opacity: 1;
}
.box{
  background-color: #f6fa06;
  width: 50%;
  height: 300px;
  
  float:left;



}
#section1 h1{
  background-color: #2dcde9;
  width: 200px;
  border-radius: 20px;
  text-align: center;
  float: left;
}

#section2 h1{
  background-color: #e859f5;
  width: 200px;
  border-radius: 20px;
  text-align: center;
  float: right;
}

#clear-div{
     clear: both;
}

#section3 h1{
  background-color: #85f87a;
  
}


