html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Example font weight */
    font-style: normal;
    font-variation-settings: "wdth" 100; /* Example variable font width */
}

h1, h2, h3, h4, h5, h6 {
    /* Add your heading styles here if needed */
}

header {
    background-image: url("image/school.jpg"); 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* Full screen height */
}

.banner-container {
    text-align: center;
    color: white; /* Adjust text color for visibility on background */
    padding: 20px;
}

.banner-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.banner-container button {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}



