td{
   color: rgb(255, 0, 0);
  background: #e3e2e4;
  font-size: 30px;
  text-align: center;
}
#nahid{
    color: #f504c1;
    background: #faf8f8;

}
*{
    background-color: #85f4fc
}
th{
    background-color: #ff8b48;
}
h2{
    border: 350px; green  solid;
    marjin: 30px;
    padding: 30px;
}
h2{
    border: 350px; green  solid;
    marjin: 30px;
    padding: 30px;
}